.back-to-top i {
    color: white;
}

.btn-get-started,
.back-to-top,
.back-to-top:hover,
.featured-services .icon-box:hover::before {
    background: #106eea !important;
}

.navbar,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>.nav-link,
.section-title h3 span,
.section-title h2,
.services .icon-box .icon i,
.services .icon-box:hover h4 a,
.services .icon-box:hover .icon i,
.bi-play-circle::before,
.bx-world:before,
.bx-file:before,
.bx-tachometer:before {
    color: #106eea !important;
}

.featured-services .icon i {
    color: #106eea;
}

.navbar>ul>li>a::before {
    background-color: #106eea !important;
}

.services .icon-box:hover .icon {
    border-color: #106eea !important;
}


.featured-services .icon-box:hover .title a,
.featured-services .icon-box:hover .description {
    color: #fff !important;
}

.featured-services .icon-box:hover .icon i {
    color: #fff !important;
}
