* { margin:0; padding:0;}
html, body { height:100%;  min-width:950px;}	
body { 
	background: url(../images/bot.gif); 
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%; 
	line-height:1.125em;
	color:#757575;
	}
input, select, textarea { font-family:Arial, Helvetica, sans-serif;	font-size:1em;	vertical-align:middle;	font-weight:normal;}
object { vertical-align:top; outline:none}
.alignMiddle{ vertical-align:middle}
.alignCenter{ text-align: center}
.container1{ width:100%}
.clear { clear:both;}
.fleft{ float:left}
.fright{ float:right}
.container {	overflow:hidden; width: 100%;}
a img{ border:0px}
img{ vertical-align:top;  }
fieldset{ border:none}

.col-1, .col-2, .col-3, .col-4{ float:left}
/*======= width =======*/
.main {	margin: 0 auto;	position: relative;	width:950px; }



a{ color:#0c80a5; text-decoration:none; outline:none}
a:hover{ text-decoration:underline}
		
section ul.list{margin:0; padding:0; list-style:none;}
section ul.list li{background:url(../images/marker1.gif) top left no-repeat; background-position:0 1px; margin:0; padding-left:26px; padding-bottom:12px }
section ul.list li a{color:#0c80a5; text-decoration:none; line-height:18px} 
section ul.list li a:hover { text-decoration:none; color:#f07700; }


section ul.list1{margin:0; padding:0; list-style:none;}
section ul.list1 li{ margin-bottom:6px; overflow:hidden }
section ul.list1 li a{color:#434343; text-decoration:none; font-size:18px; line-height:33px; background:#fff; padding:0px 15px 0px 15px; display:block; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; position:relative } 
section ul.list1 li a:hover { text-decoration:none; color:#fff;  background:#f07d2c; }
section ul.list1 li a.current { text-decoration:none; color:#fff;  background:#f07d2c; } 

nav ul { border-style: none !important;}

.link{color:#e67403; background:url(../images/marker2.gif) center right no-repeat; padding-right:13px; text-decoration:none; font-weight:bold; font-family:Arial, Helvetica, sans-serif; font-size:12px }
.link:hover{text-decoration:underline }
.link1{color:#000; background:url(../images/marker2.gif) center right no-repeat; padding-right:13px; text-decoration:none; font-weight:bold; font-family:Arial, Helvetica, sans-serif; font-size:12px }
.link1:hover{text-decoration:underline }

.da-button{
		color:#fff;
		background:#f07726;
		padding:0px 18px 0px 18px;
		line-height:32px;
		font-size:13px;
		font-weight:bold;
		display:inline-block;
		text-decoration:none;
		border-style: solid;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;  float:right; margin-top:5px; margin-right:10px;  }
.da-button:hover{text-decoration:none; background:#0b799e }

.link-1 { display:inline-block; float:right; line-height:31px; background:#3f3f3f; padding:0 27px 0 27px; color:#fff; text-transform:uppercase; text-decoration:none; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; cursor:pointer; position:relative; font-size:13px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif}
.link-1:hover {background:#000; text-decoration:none; color:#fff}

.link-2 { display:inline-block; float:left; line-height:37px; background: url(../images/bg_link.png) top left no-repeat; width:126px; text-align:center; color:#fff; text-transform:uppercase; text-decoration:none; font-size:16px; }
.link-2:hover { background: url(../images/bg_link-act.png) top left no-repeat; text-decoration:none; color:#fff}


/*header*/
header {font-size:0.75em; color:#FFFFFF; background:#fff; height:185px; position:relative; z-index: 999}
header .indent{ top:95px; right:3px; position:absolute; padding:0; width:191px}
header .inside{background:url(../images/bg_m.png) top left no-repeat; top:135px; left:0; width:950px; position: absolute; padding:0; margin:0; z-index:90000}
header .nav{position:relative; padding:0; margin:0; z-index:9000000}

header h1 {}
header h1 a {}


.button1{color:#fff; background:url(../images/button1.gif) top left no-repeat; width:114px; text-transform:uppercase; text-align:center; line-height:35px; font-weight:bold; display:block; text-decoration:none; position:absolute; right:120px; top:0px; font-size:18px; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; padding-bottom:21px}
.button1:hover{text-decoration:none; color:#2fc5fc }




/*--- superfish dropdown menu begin ---*/
.sf-menu {margin:0; padding:0;	list-style: none; z-index:90000; position:relative } 
.sf-menu li{display:inline; float:left; background:url(../images/bg_li.gif) top right no-repeat; padding:0 2px 0 0;}
.sf-menu li a{color:#2c2d2d;  text-decoration:none; display:block; float:left; line-height:50px; text-transform:uppercase; padding:0 27px 0 27px; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px;  } 
.sf-menu li a:hover {color:#2c2d2d;  text-decoration:none; background:url(../images/bg_li-hov.gif) top left repeat-x}
.sf-menu li a.current{ color:#fff;  text-decoration:none; background:url(../images/bg_li-act.gif) top left repeat-x}

.sf-menu .m{ margin:0; display:inline; float:left; background:none; padding-right:0}
.sf-menu .m a{color:#0e0e0e; text-decoration:none; display:block; line-height:50px; padding:0; width:79px; background:url(../images/m1.gif) top left no-repeat; height:50px} 
.sf-menu .m a:hover { background:url(../images/m1-act.gif) top left no-repeat; width:79px; }
.sf-menu .m a.current{ background:url(../images/m1-act.gif) top left no-repeat; width:79px; }

.sf-menu ul { position:absolute; top:-999em; width:10em; line-height:1.0; }
.sf-menu li:hover ul, .sf-menu li.sfHover ul {  top:50px; z-index:99;}

/*** DEMO SKIN ***/
.sf-menu ul {	width:167px; background:url(../images/bg_menu1.png); padding-top:20px; border-style: solid; border-radius:0 0 11px 11px; -moz-border-radius:0 0 11px 11px; -webkit-border-radius:0 0 11px 11px; padding-bottom:20px; behavior:url(js/PIE.htc); }
.sf-menu ul li {  text-align:left; line-height:30px; padding: 0 0px 0 19px; width:148px;  z-index:9; float:left; background:url(../images/bg_li2.png) bottom left repeat-x; }
.sf-menu ul li:hover {  text-align:left; line-height:30px; padding: 0 0px 0 19px; width:148px;  z-index:9; float:left; background:url(../images/bg_li2-act.png) bottom left repeat-x; }
.sf-menu ul li a {line-height:30px; height:auto; text-align:left;  font-size:13px;  color:#fff; z-index:9;  text-transform:none; text-shadow:none; position:relative; background:none; padding:0}
.sf-menu ul li a:hover { color:#fff; text-shadow:none; background:none }
.sf-menu ul .li {  text-align:left; line-height:30px; padding: 0 0px 0 27px; width:139px;  z-index:9; float:left; background:url(../images/bg_li3.png) bottom left repeat-x; }
.sf-menu ul .li:hover {  text-align:left; line-height:30px; padding: 0 0px 0 27px; width:139px;  z-index:9; float:left; background:url(../images/bg_li3-act.png) bottom left repeat-x; }
.sf-menu ul .li a {line-height:30px; height:30px; text-align:left;  font-size:13px; color:#fff; z-index:9;  text-transform:none; text-shadow:none; position:relative}
.sf-menu ul .li a:hover { color:#fff; text-shadow:none }

.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {	 position:relative }

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {	left: 0; z-index: 99;}

				
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul { top:-999em;}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul { left:180px; /* match ul width */ top:0;}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul { top:-999em;}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul { left:10em; /* match ul width */ top:0;}

.sf-sub-indicator {	position: absolute;	display:block;	right:10px;	width:10px;	height:10px; text-indent:-999em; overflow:hidden;}

/*aside*/
aside {background:#fff; height:436px; width:100%; position:relative; z-index:1}
aside .inside{ padding:0px 0px 0px 0px}

/*content*/
section{ font-size:0.8125em; width:100%; text-align:left; background:#fff; font-family:Verdana, Geneva, sans-serif}
section .inside{padding:35px 0px 50px 0px}
section .inside1{padding:50px 0px 50px 0px}
.img-left{ float:left; margin:0 15px 0 0}
.img-indent{ margin:0 0 3px 0}
.img-indent1{ margin:0 0 11px 0}
p{ margin:0 0 17px 0}
.p{ margin:0}
.p1{ margin:0 0 17px 0}
.p2{ margin:0 0 37px 0}
h1{color:#323232; font-size:30px; text-transform:uppercase; margin-bottom:13px; line-height:1.2em}
h1 strong{color:#0c80a5; }
h1 span{color:#f28c46;}
h2{color:#323232; font-size:24px; text-transform:uppercase; margin-bottom:17px; line-height:1.2em}
h3{color:#323232; font-size:18px; margin-bottom:17px; line-height:1.2em}
h4{color:#5e5e5e; font-size:1em; margin-bottom:9px;  }
h5{color:#0c80a5; font-size:1em; font-weight:normal;  }
.tail{ background:url(../images/tail.gif) bottom repeat-x; padding-bottom:22px; margin-bottom:21px}
.txt-1{ float:right; display:block; margin-bottom:31px; font-weight:bold; color:#5e5e5e}
.txt{ /*text-transform:uppercase;*/ color:#0c80a5; display:block; font-size:16px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold}
.link_1{color:#0c80a5; text-decoration:none}
.link_1:hover{text-decoration: underline }
.link_2{color:#df7a18; text-decoration:none}
.link_2:hover{text-decoration: underline }
.link_3{color:#564b4f; text-decoration:none}
.link_3:hover{text-decoration: underline }
.link_4{color:#038f91; text-decoration:none}
.link_4:hover{text-decoration: underline }
.link_5{color:#f9c422; text-decoration:none}
.link_5:hover{text-decoration: underline }
.link_6{color:#000000; text-decoration:none}
.link_6:hover{text-decoration: underline }
.txt1{ text-transform:uppercase; color:#df7a18; display:block; font-size:16px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold}
.txt2{ text-transform:uppercase; color:#564b4f; display:block; font-size:16px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold}
.txt3{ text-transform:uppercase; color:#038f91; display:block; font-size:16px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold}
.txt4{ color:#0c80a5; }
.txt5{ text-transform:uppercase; color:#f9c422; display:block; font-size:16px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold}
.txt6{ text-transform:uppercase; color:#000000; display:block; font-size:16px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold}

.indent{padding:35px 0px 0px 0px}

/*box*/
.box{ background:#fff; border:1px solid #efefef; border-style: solid; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; position:relative}
.box .indent-box{ padding:10px 5px 11px 10px; }
.box .indent-box1{ padding:17px 15px 11px 20px; }
.box .indent-box2{ padding:17px 11px 11px 19px; }
/*box1*/
.box1{ background: url(../images/box1.gif); width:100%; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; text-transform:uppercase; color:#434343; line-height:26px; margin-bottom:7px}
.box1 .box-top{ background: url(../images/box1-top.gif) top left no-repeat; width:100%}
.box1 .box-bot{ background: url(../images/box1-bot.gif) bottom left no-repeat; width:100%}
.box1 .indent-box{ padding:15px 25px 25px 20px; }

/*footer*/
footer { color:#2c2e31; font-size:0.875em; background:url(../images/bot.gif) top repeat-x; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif}
footer .inside{ padding:34px 0 50px 0px }
footer span {color:#0d82a7;}  
footer a {color:#2c2e31; text-decoration:underline}  
footer a:hover {  text-decoration:none}
footer h2{color:#000; font-weight:normal; font-size:21px;  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; margin-bottom:13px; line-height:1.2em; text-transform:none}

.row .col-1{ width:549px; } 
.row .col-2{ width:92px; } 
.row .col-3{ width:309px; } 
.row .col-1 .col-1{ width:167px; } 
.row .col-1 .col-2{ width:160px; } 

footer ul.list-2{margin:0; padding:0; list-style:none;}
footer ul.list-2 li{ margin:0px;  display:block; line-height:28px; overflow:hidden}
footer ul.list-2 li a{color:#000; text-decoration:none; display:block; line-height:28px; background:url(../images/marker.gif) center left no-repeat; padding-left:13px; float:left; font-size:13px } 
footer ul.list-2 .li a{  background:url(../images/icon1.gif) center left no-repeat; padding-left:33px; } 
footer ul.list-2 .li1 a{ background:url(../images/icon2.gif) center left no-repeat; padding-left:33px; } 
footer ul.list-2 .li2 a{ background:url(../images/icon3.gif) center left no-repeat; padding-left:33px; } 
footer ul.list-2 li a:hover { text-decoration:none; color:#0d82a7  }

footer ul.list-1{margin:0; padding:0; list-style:none;}
footer ul.list-1 li{ margin:0px; display:inline; background:url(../images/bg_li1.gif) center left no-repeat; float:left}
footer ul.list-1 li a{color:#797979; text-decoration:none; display:block; float:left; padding:2px 8px 2px 8px; font-size:14px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif} 
footer ul.list-1 li a:hover { text-decoration: underline; color:#797979 }
footer ul.list-1 .first{background:none;}
footer ul.list-1 .first a{ padding-left:0px}
footer ul.list-1 li .current{ text-decoration:underline; color:#797979  }



.jamp{ width:40px; margin-left:6px}
select{font-size:.84em; color:#2d3331; height:20px}
	
.indent-2{ position:relative; padding-left:20px; float:left}
.rowElem{ height:30px}
.rowElem1{ height:30px; background:url(../images/bg_input.gif) top left no-repeat}
.rowElem2{ height:31px; background:url(../images/bg_input1.gif) top left no-repeat}
.rowElem3{ height:102px; background:url(../images/bg_input2.gif) top left no-repeat}
.block-contact span{ float:right; margin-right:40px}
.input{
   	border:none; 
	background:none;
	width:141px; height:20px;
	font-size:1em;
	color:#000;
	padding-left:14px;
	padding-right:0px;
	padding-top:5px;
	padding-bottom:5px;
}.input1{
   	border:none; 
	background:none;
	width:280px; height:20px;
	font-size:13px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#808080;
	padding-left:16px;
	padding-right:13px;
	padding-top:5px;
	padding-bottom:5px;
}
textarea{
   	border:none; 
	background:none;
	width:280px; height:86px;
	font-size:13px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#808080;
	padding-left:16px;
	padding-right:13px;
	padding-top:5px;
	padding-bottom:5px;
	margin-bottom:11px;
	overflow:auto}


	/*#loopedSlider .container{ width:950px; height:404px;  overflow:hidden; position:relative; cursor:pointer}
	.slides { position:absolute; top:0; left:0; }
	ul.slides { position:absolute; top:0; left:0; list-style:none; padding:0; margin:0; }
	.slides .div,ul.slides li { position:absolute; top:0; width:950px; display:none; padding:0; margin:0; }
	.info{ position:absolute; top:120px; left:28px; z-index:9000000; color:#252525; width:300px; height:160px; font-size:31px; line-height:1.2em}
	.info span{ color:#0d80a4; font-size:36px; text-transform:uppercase}
	
	#loopedSlider{ margin:0 auto; width:950px; position:relative; clear:both; }
	ul.pagination { list-style:none; padding:0; margin:0; background:url(../images/bg_1.gif); width:909px; height:30px; padding:2px 0px 0px 41px }
	ul.pagination li  { float:left; margin-right:2px}
	ul.pagination li a{color:#d9d9d9; width:28px; line-height:29px; text-align:center; background:url(../images/button.png) top left no-repeat; display:block; float:left; text-decoration:none; font-size:15px }
	ul.pagination li.active a { color:#3e1f23; background:url(../images/button-act.png) top left no-repeat; border:none; text-decoration:none }
	ul.pagination li a:hover { color:#3e1f23; background:url(../images/button-act.png) top left no-repeat; border:none; text-decoration:none}


*/
	
/* * Required */
/*#loopedCarousel{ width:880px; position:relative; clear:both; margin-left:40px}
#loopedCarousel {height:210px;  }
#loopedCarousel .container2 { width:880px; height:210px; overflow:hidden; position:relative; margin:0; }
#loopedCarousel .slides { position:absolute; top:0; left:0; }
#loopedCarousel .slides .div { position:absolute; top:0; width:176px; margin-right:10px; display:none;}*/
/* * Optional*/
.but1{ position:absolute; left:0; top:48px; }
/*#loopedCarousel .previous{background:url(../images/button-1.gif) top left no-repeat; width:26px; height:105px; display:block; float:left; text-decoration:none; margin-left:-43px; position:relative}
#loopedCarousel .next{background:url(../images/button-2.gif) top left no-repeat; text-decoration:none; width:26px; height:105px; display:block; float:right; margin-left:884px; position:relative; }
*/

button, input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
}


.mandatory{
	color:red;
}

.fg-toolbar{
	padding:5px;
}

ul.sf-menu > li > a,section h2,.info, h3,.link-2, h1,.list1,.info span{
	font-family: 'PT Sans', sans-serif;
}